<html>
<head>
<script src="prototype.js"></script>
<script src="scriptaculous.js?load=effects,dragdrop"></script>
<script src="bulletin.js"></script>
<script>
  Bulletin.lighthouse_domain = "<%= Lighthouse.domain_format % "" + (Lighthouse.port ? ":#{Lighthouse.port}" : "") %>"
  Bulletin.domain = "<%= $host %>"
  
  window.onload = function(){
    var form = $('setup')
    form.onsubmit = function(){
      var account = this.select('#account')[0].value;
      var project = this.select('#project')[0].value;
      var token   = this.select('#token')[0].value
      var user    = this.select('#user')[0].value
      bulletin = new Bulletin({account:account, project:project, token:token, user:user})
      return false
    }
  }
  
  function moveItem(draggable,droparea){
    if($(draggable.id).getAttribute("class").split(" ")[0] == droparea.id){
      draggable.setAttribute("style","");
      return;
    }
    if (!droparea.cleared) {
       //droparea.innerHTML = '';
       droparea.cleared = true;
    }
    var performMove = function(){ 
      draggable.parentNode.removeChild(draggable)
      //drag and drop tries to do something stupid, so I undo that
      draggable.setAttribute("style","")
      droparea.appendChild(draggable)
    }
    new Ajax.Request(bulletin.requestURL(draggable.id, droparea.id), {method: 'get', onSuccess: performMove})     
  }
</script>
<style>
.ticket{
	width:40%;
	height:80px;
	border:1px solid #aaa;
	font-size:10px;
	font-family:Verdana;
	float:left;
	margin:5px;
	overflow:hidden;
}

.state{
	width:20%;
	float:left;
	height:100%;
}

.assigned_user{
	width:7%;
	float:left;
	height:100%;
}

.ticket_link{
  float:right;
  text-decoration:none;
  margin-right:3px;
}

.ticket_body{
	padding:5px;
	margin-left: 8px;
}

.assigned_user0{ background:white }
.assigned_user1{ background:crimson }
.assigned_user2{ background:yellowgreen }
.assigned_user3{ background:mediumblue }
.assigned_user4{ background:orange }
.assigned_user5{ background:forestgreen }
.assigned_user6{ background:firebrick }
.assigned_user7{ background:darkmagenta }
.assigned_user8{ background:gold }
.assigned_user9{ background:darkslategray }
.assigned_user10{ background:cornflowerblue }

h6 {
  margin:auto;
  text-align:center;
  font-weight:normal;
}
</style>
</head>
<body>
<form id='setup'>
  <table>
    <tr>
      <td><input type='text' id='account' name='account' value="<%= params["account"] %>">.lighthouseapp.com/projects/</td>
      <td><input type='text' id='project' name='project' value="<%= params["project"] %>"></td>
    </tr>
    <tr colspan=2>
      <td>Token: <input type='text' id='token' name='token' value="<%= params["token"] %>"></td>
    </tr>
    <tr colspan=2> 
      <td><input type='text' id='user' name='user' value="<%= params["user"] %>"></td>
    </tr>
    <tr><td><input type='submit' value='create bulletin'/></td></tr>
  </table>
</form>
<div id='bulletin' style='margin:auto;display:none'>
</div>
</body>
